@font-face {
  font-family: "main-text";
  src: url("./fonts/CapitalisTypOasis.ttf");
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #faf68f;

}

.gifImage {
  width: 30vh;
  height: 30vh; 
}

.square {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #f1cb53;
  border: 20px;
}

.textMain {
  margin: auto;
  text-align: center;
  padding: 10px;
  color: black;
  font-family: "title";
  font-size: 3vw;
}

.title {
  color: #8b0000;
  font-family: "title";
  font-size: 4vw; /* Adjust the value as per your preference */
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as per your preference */
  .title {
    font-size: 7vw; /* Adjust the value as per your preference */
  }
  .textMain {
    font-size: 5vw;
  }
  .gifImage {
    width: 25vh;
    height: 25vh;
  }
  .mintButton {
    font-size: 6vh !important; /* Added !important to override conflicting declarations */
    height: 6vh;
  }

  .box {
    font-size: 2vh;
  }
}

.mintButton {
  background-color: #faf68f;
  height: auto;
  color: black;
  font-family: "title";
  font-size: 8vh;
  cursor: pointer;
}

.mintButton:hover {
      background-color: brown;
      color: whitesmoke
;
}

.loadingText {
  font-family: "title";
  color: black;
  font-size: 8vh;
}


.valuesContainer {
    white-space: nowrap;
}

.box {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #e0e0e0;
  border: 1px solid black;
  color: black;
  font-family: "title";
  padding: 8px;

}