@font-face {
    font-family: 'main-text';
    src: url('../../fonts/CapitalisTypOasis.ttf') format('woff2'),
      
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-color: #f1cb53;
  border: 20px;
  padding-bottom: 15px;
}

.button {
  border: 2px solid #f1cb53;
  background-color: black;
  color: #efd8b1;
  font-family: 'main-text';
  padding: 1vw 2vw;
  min-width: 13vw;
  max-width: 25vw;
  /* margin: 1vw; */
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 12px;
}

.divider {
  width: 2px;
  height: 100%;
  background-color: #f1cb53;
  margin: 0 1vw;
}
