@font-face {
    font-family: 'main-text';
    src: url('./fonts/CapitalisTypOasis.ttf') 
      
}

@font-face {
    font-family: 'title';
    src: url('./fonts/Adonais.ttf') 
      
}

.App-logo {
  height: 50vmin;
  width: 50vmin;
  /* padding-bottom: 15px; */

}

.title {
  font-family: 'title';
  font-size: 80px;
  color: #efd8b1;
}

html, .background {
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.access {
  justify-content: center;
  text-align: center;
  font-family: 'title';
  font-size: 30px;
  color: #f1cb53;
  margin-bottom: 10px;
  text-decoration: none; /* remove underline */
}
a {
  text-decoration: none; /* remove underline */
  color: black; /* set default color */
}

a:hover {
  color: red; /* change color when hovered */
}

.slogan {
  text-align: center;
  align-items: center;
  align-content: center;
  font-style: italic;
  font-family: 'Bebas Neue';
  color: white;
  text-shadow: 3px 3px black;
}


.square {
  display: flex;
  width: 70%;
  margin: 0 auto; /* Center horizontally */
  /* margin-bottom: 2%; */
  align-items: center;
  background-color: black;
  border-color: #f1cb53;
  border: 20px;
  border: 2px solid #f1cb53;
  justify-content: center;
  
}

.textMain {
  margin: auto;
  text-align: center;
  /* font-family: 'Bebas Neue'; */
  padding: 10px;
  font-size: 15px;
  color: #efd8b1;
  font-family: 'main-text'
}



