@font-face {
    font-family: 'main-text';
    src: url('./fonts/CapitalisTypOasis.ttf') 
      
}

@font-face {
    font-family: 'title';
    src: url('./fonts/Adonais.ttf') 
      
}

.App-logo {
  height: 50vmin;
  width: 50vmin;
  /* padding-bottom: 15px; */

}

.title {
  font-family: 'title';
  font-size: 80px;
  color: #efd8b1;
}

html, .background {
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 100%;

}


.slogan {
  text-align: center;
  align-items: center;
  align-content: center;
  font-style: italic;
  font-family: 'Bebas Neue';
  margin: auto;
  color: white;
  text-shadow: 3px 3px black;
}


.square {
  display: flex;
  width: 70%;
  margin: 0 auto; /* Center horizontally */
  /* margin-bottom: 2%; */
  align-items: center;
  background-color: black;
  border-color: #f1cb53;
  border: 20px;
  border: 2px solid #f1cb53;
  justify-content: center;
  
}

.textMain {
  margin: auto;
  text-align: center;
  /* font-family: 'Bebas Neue'; */
  padding: 10px;
  font-size: 15px;
  color: #efd8b1;
  font-family: 'main-text'
}



.scrolling-text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide text that goes outside of container */
   font-family: 'title';
  font-size: 80px;
  color: #efd8b1;
  width: 70%;
}

.scrolling-text p {
  animation: scroll 5s linear infinite; /* Set the animation properties */
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Starting position */
  }
  100% {
    transform: translateX(-25%); /* Ending position */
  }
}